body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}
.heading{
    display: block;
}
.image-container {
    background-color: #e0e0e0;
    display: inline-block; 
}

img {
    display: block;
    border: 5px solid #ff0000;
    margin: 20px;
    background-color: #ffffff;
    padding: 15px;
}